@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

@font-face {
  font-family: 'Tiny5';
  src: url('./ui/tiny5.ttf') format('truetype');
  font-weight: bold;
  /* font-style: normal; */
}

.custom-font {
  font-family: 'Tiny5', sans-serif;
}
#bounce :hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

.scroller {
  height: 300px;

}

.scroller section {
  scroll-snap-align: start;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swipe-container {
  height: 100vh;
  overflow: hidden;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.gradient-border {
  background: linear-gradient(to right, #ec4899, #8b5cf6, #6366f1);
  padding: 3px;
  /* Adjust the padding to set the border width */
  border-radius: 50%;
}

.gradient-border img {
  border-radius: 50%;
}


