/* BeyondCoding.module.css */
.container {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.staticContent {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.divider {
  width: 2px;
  background-color: black;
  margin-left: 20px;
  /* Adjust as needed */
}

.timeline {
  flex: 3;
  overflow-y: auto;
  padding: 20px;
}

.timelineSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.timelineTitle {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid black;
  height: 100%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transition: transform 0.5s ease;
      /* Add transition for smooth animation */
  /* Adjust as needed */
}

@media (min-width: 768px) {
  .cardContainer {
    gap: 30px;
    /* Adjust gap for larger screens */
  }
}

.glass {
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.glassContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cardContainer .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: transform 0.5s ease;
      /* Keep the transition for smooth animation */
}

.cardContainer:hover .glass {
  cursor: pointer;
  transform: rotate(0deg) ;
    /* Reset rotation on hover */}

@media (max-width: 768px) {
  .glass {
    width: calc(100% - 20px);
    /* Adjust width for smaller screens */
    margin: 0 10px;
  }
}